body {
	background-color: rgb(246, 252, 252);
	color: black;
}

a:link {
	color: darkred;
}
a:visited {
	color:darkred;
}

.profile-headshot {
            float: left; /* Aligns the image to the right */
            margin: 10px; /* Adds some space around the image */
	    border-radius: 0%;
            width: 250px; /* Adjust the width of the image */
            height: 250px; /* Adjust the height of the image */
        }
